<h1><%= @movie.movie %></h1>
<p><h2>Description</h2><%= @movie.description %></p>
<h2>Actors</h2>
<ul>
  <% @movie.actors.each do |actor| %>
    <li>
      <strong><%= actor.name %>
    </li>
  <% end %>
<h2>Locations</h2>
<ul>
  <% @movie.locations.each do |location| %>
    <li>
      <strong><%= location.name %>
    </li>
  <% end %>

<h2>Reviews</h2>
<ul>
  <% @movie.reviews.each do |review| %>
    <li>
      <strong><%= review.stars %> stars:</strong> <%= review.review %>
    </li>
  <% end %>
</ul>